REDMINE_DB_MYSQL={{ database_host }}
REDMINE_DB_DATABASE={{ database_name }}
REDMINE_DB_USERNAME={{ database_user }}
REDMINE_DB_PASSWORD={{ database_password }}
REDMINE_DB_PORT={{ database_port }}
