project_id = "{{ lookup('env', 'GCP_PROJECT_ID') }}"
region = "{{ lookup('env', 'GCP_REGION') }}"
zone = "{{ lookup('env', 'GCP_ZONE') }}"
credentials_file = "{{ lookup('env', 'GCP_CREDENTIALS_FILE') }}"
datadog_api_key = "{{ datadog_api_key }}"
datadog_app_key = "{{ datadog_app_key }}"
domain_private_key_path = "{{ lookup('env', 'DOMAIN_PRIVATE_KEY_PATH') }}"
domain_cert_path = "{{ lookup('env', 'DOMAIN_CERT_PATH') }}"
ssh_pub_key_path = "{{ lookup('env', 'SSH_PUB_KEY_PATH') }}"
